<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="design.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
    <script src="/js/badgesscript.js"></script>
<style>
    h1   {text-align:left;}
    th   {text-align: center;}
    table {margin: auto;}
    h3 {text-align: center;}
</style>
</head>
<body>
  <%- include("nav") %>

  <br>
  <h1> <u>GamiRev Badges:</u> </h1>
<div id="alltimebadges">
    <br>
    <% if (editPerm === true) { %>
    <div class="d-flex justify-content-end m-3">
        <input class="btn btn-primary" type="button" value="edit all-time badges" onclick="AllTimeEdit()" id="all-time-edit">
    </div>
    <% } %>
    <h3>all-time badges</h3>
    <table class="table table-bordered table-hover border-dark w-auto text-center" id="alltimetable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i < allTimeBadges.length; i++) { %>
            <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= allTimeBadges[i].Rank %></td>
                <td><%= allTimeBadges[i].name %></td>
                <td><%= allTimeBadges[i].description.replace('{value}', allTimeBadges[i].value) %></td>
            </tr>
        <% } %>
    </tbody>
  </table>
</div>

<div class="mt-5" id="reviewandprojectbadges">
    <br>
    <% if (editPerm === true) { %>
    <div class="d-flex justify-content-end m-3">
        <input class="btn btn-primary" type="button" value="edit review-and-project badges" onclick="ReviewAndProjectEdit()" id="review-and-project-edit">
    </div>
    <% } %>
    <h3>Review and Project badges</h3>
    <table class="table table-bordered table-hover border-dark w-auto text-center" id="reviewandprojecttable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i < reviewProjectBadges.length; i++) { %>
            <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= reviewProjectBadges[i].Rank %></td>
                <td><%= reviewProjectBadges[i].name %></td>
                <td><%= reviewProjectBadges[i].description.replace('{value}', allTimeBadges[i].value) %></td>
            </tr>
        <% } %>
    </tbody>
  </table>
</div>

<div class="mt-5" id="timedbadges">
    <br>
    <% if (editPerm === true) { %>
    <div class="d-flex justify-content-end m-3">
		<input class="btn btn-primary" type="button" value="edit timed badges" onclick="TimedEdit()" id="timed-edit">
    </div>
    <% } %>
    <h3>Timed badges</h3>
    <table class="table table-bordered table-hover border-dark w-auto text-center" id="timedtable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i < timedBadges.length; i++) { %>
            <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= timedBadges[i].Rank %></td>
                <td><%= timedBadges[i].name %></td>
                <td><%= timedBadges[i].description.replace('{value}', allTimeBadges[i].value) %></td>
            </tr>
        <% } %>
    </tbody>
  </table>
</div>
<script>
    $(document).ready(()=> {
        goldBdg = $('td').filter(function(){
            return $(this).text() === 'Gold'
        });
        goldBdg.css('background-color', '#FFD700');

        silverBdg = $('td').filter(function(){
            return $(this).text() === 'Silver'
        });
        silverBdg.css('background-color', '#C0C0C0');

        bronzeBdg = $('td').filter(function(){
            return $(this).text() === 'Bronze'
        });
        bronzeBdg.css('background-color', '#CD7F32');

    });

</script>

</body>
</html>