<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<!--
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		-->
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css">
		

		<link rel="stylesheet" href="../css/existingreview.css">
	</head>
	<body>
		<%- include("nav") %>
		
		<div class="container d-flex flex-column" style="gap: 50px;">
			<div>
				<h1 class="rev-title"><%= revTitle %></h1>
				<div class="d-flex flex-row">
					<h3 class="section-title">Author:</h3>
					<button id="editBtn" class="btn btn-secondary ms-auto">Edit</button>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><%= authorName %></li>
				</ul>
			</div>
			<div>
				<p  class="section-title">Project name:</p>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><a href="/projects/<%= projectName %>"><%= projectName %></a></li>
				</ul>
			</div>
			<div>
				<h3 class="section-title">Reviewers:</h3>
				<!--
				<ul class="list-group list-group-horizontal">
					<% if (typeof assignedReviewers_names != 'undefined') { %>
					<% for(var i=0; i < assignedReviewers_names.length; i++) { %>
						<li class="list-group-item reviewersNames">
						<%= assignedReviewers_names[i] %>
						</li>
					<% } %>
					<% } %>
				-->
				<table id="reviewers" class="table table-bordered border-dark">
					<tr>
						<th>Names</th>
						<% if (typeof assignedReviewers_names != 'undefined') { %>
							<% for(var i=0; i < assignedReviewers_names.length; i++) { %>
								<td class="reviewersNames">
									<%= assignedReviewers_names[i] %>
								</td>
							<% } %>
						<% } %>
					</tr>
					<tr>
						<th>Last votes</th>
						
						<% if (typeof assignedReviewers_votes != 'undefined') { %>
							<% for(var i=0; i < assignedReviewers_votes.length; i++) { %>
								<td>
									<%= assignedReviewers_votes[i] %>
								</td>
							<% } %>
						<% } %>
					</tr>
				</table>
					<!--
					<li class="list-group-item">Reviewer 1</li>
					<li class="list-group-item">Reviewer 2</li>
					<li class="list-group-item">Reviewer 3</li>
					<li class="list-group-item">Reviewer 4</li>
					<li class="list-group-item">Reviewer 5</li>
					-->
				</ul>
			</div>
			<div>
				Tags:<br /> <%= tagsStr %>
			</div>
			<div style="margin-bottom: 30px;">
				Code:
				<div class="code-block" id="code">
					<pre><code id="codeTxt" class="language-js"><textarea id="codeArea" disabled><%= lastReviewCode %></textarea></code>
					</pre>
				</div>
			</div>

			<!-- Comments Section -->
			<div class="comments-wrapper">
				<div class="header-wrapper">
					<h1 class="table-name">Comments</h1>
				</div>
				<% for(var i=0; i < reviewComments.length; i++) { %>
				<div class="comment-wrapper">
					<div class="author-wrapper">
						<h2 class="author-name"><%= userDetails[i].username %></h2>
						<span class="points" style="font-size:14px;">Points: <%= userDetails[i].totalPoints %></span>
					</div>

					<div class="content-wrapper">
						<p class="content-text"><%- reviewComments[i].content %></p>
						<!--
						<div class="code-block" id="code">
							<pre><code class="language-js"><textarea disabled>document.getElementById("demo").innerHTML = 10.50;</textarea></code></pre>
						</div>
						-->
					</div>

					<div class="date-wrapper">
						<p class="date-text"><%= reviewComments[i].date %></p>
						<p class="vote">Vote: <%= reviewComments[i].vote %></p>
					</div>
				</div>
					<% if(i != reviewComments.length-1) { %>
						<div class="breakline"></div>
					<% } %>
				<% } %>
				
			</div>


			<!-- Add Comment Box -->
			<form class="add-comment-wrapper" action="/existingreview/<%= revID %>" method="post" >
				<div class="codeButton">
					<button class="btn btn-sm btn-primary" id="codeButton" type="button">CODE</button>
				</div>
				<div class="codeFile">
					<input name="codeFile" class="form-control form-control-sm" type="file" id="formFileMultiple" multiple>
				  </div>
				<div class="comment-box-wrapper">
					<textarea id="commentText" class="comment-box" placeholder="Write your comment here..." role="textbox" name="commentText" contenteditable></textarea>
				</div>
				<div class="rate-wrapper">
					<h1 class="rate-title">Code-Review:</h1>
					<div class="rate-options">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="radioRate" id="radio1" value="-2">
							<label class="form-check-label grey" for="radio1">-2</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="radioRate" id="radio2" value="-1">
							<label class="form-check-label grey" for="radio2">-1</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="radioRate" id="radio3" value="0">
							<label class="form-check-label grey" for="radio3">0</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="radioRate" id="radio4" value="+1">
							<label class="form-check-label grey" for="radio4">+1</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="radioRate" id="radio5" value="+2">
							<label class="form-check-label grey" for="radio5">+2</label>
						</div>
					</div>
				</div>
				<button type="submit" class="add-button">Add Comment</button>
			</form>
		</div>
		<script>

			function load_js()
			{
				var head= document.getElementsByTagName('head')[0];
				var script= document.createElement('script');
				script.src= 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js';
				head.appendChild(script);
			}
	
			let editMode = false;
			const codeTextOrigin = $("#codeTxt").text();
			document.getElementById("codeButton").onclick = () => {
            let txt = document.getElementById("commentText");
            if(txt.selectionStart == txt.selectionEnd)
            {
                return;
            }
            const before = txt.value.substring(0, txt.selectionStart);
            const sel = txt.value.substring(txt.selectionStart, txt.selectionEnd);
            const after = txt.value.substring(txt.selectionEnd);
            txt.value = `${before}<pre><code class="language-js">${sel}</code></pre>${after}`;
        };
			document.getElementById("editBtn").onclick = () => {
				var full_url = document.URL; // Get current url
				var url_array = full_url.split('/') // Split the string into an array with / as separator
				var last_segment = url_array[url_array.length-1];  // Get the last part of the array (-1)
				if (!editMode)
				{
					editMode = true;
					codeEdit = $(document.createElement("textarea"));
					codeEdit.text(codeTextOrigin);
					codeEdit.attr('id', 'editCode');
					//codeEdit.attr('style', 'width: 600px; height: 400px;');
					$("#code").children().remove();
					$("#code").append(codeEdit);
					
					let saveBut = document.createElement("button");

					$(saveBut).addClass("btn btn-primary");
					$(saveBut).html('Save');
					$(saveBut).attr('style', 'float: right; margin-top: 10px;');
					$(saveBut).attr('id', 'saveBut');
					saveBut.addEventListener('click', function () {
						$.post('/existingreview/' + last_segment + '/changeCode',
							{"code": $("#editCode").val()},
							function (data)
							{
								console.log(data);
							}
						);
					});

					$("#code").append(saveBut);
					
					/**
					reviewersList = $(".reviewersNames");
					reviewersList.map((i, obj)=> {
						c = document.createElement("span");
						c.addEventListener('click', function() {
							 //alert(this.parentNode.innerHTML);
							
							//alert( last_segment ); // Alert last segment
							this.parentNode.remove();
							$.ajax('/existingreview/' + last_segment + '/removeReviewer', {
								type: 'POST',
								data: { 
									'content': this.parentNode.innerHTML.trim()
								},
								function(data) {
									alert(data);
								}
							});
							
						 });
						c.innerText = "X";
						//console.log(obj);
						obj.append(c);
					});
					//reviewersList.after(c);
					**/
				}
				else
				{
					editMode = false;
					$("#code").children().remove();
					preBlock = $(document.createElement("pre"));
					codeClass = $(document.createElement("code"));
					codeClass.addClass("language-js");
					codeClass.prop('id', 'codeTxt');
					codeEdit = $(document.createElement("textarea"));
					codeEdit.text(codeTextOrigin);
					codeEdit.attr('style', 'width: 600px; height: 400px;');
					codeEdit.prop('disabled', true);
					codeClass.append(codeEdit);
					preBlock.append(codeClass);
					$("#code").append(preBlock);
					load_js();

					reviewersList = $(".reviewersNames")
					reviewersList.map((i, item) => {
						$(item).find("span").remove();
					});

					$('#saveBut').remove();
				}
			} 
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js"></script>
	</body>
</html>